@use "../mixins.module.scss" as mixins;

.viewport {
    @include mixins.distortion-border(10px, var(--background-color));

    border: none;
    aspect-ratio: 1.66 / 1;
    width: min(calc(80vh * 1.66), 100%);
    background-color: var(--secondary-color);

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;

    canvas {
        width: 100%;
        cursor: grab;
    }

    > p {
        font-weight: 500;
        line-height: 1.5;
        margin: 1rem;
        height: fit-content;
    }
}