.distortion-button {
    color: var(--accent-3);
    --border-color: var(--accent-3);
    --border-width: max(3px, 0.1em);

    border-radius: 4px;
    border: var(--border-width) solid #0000;

    position: relative;
    height: 1.5em;
    padding: 1em;
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;

    background-color: #0000;
    overflow: visible;

    cursor: pointer;
    appearance: none;
    box-shadow: none;
    user-select: none;
    touch-action: manipulation;
    font: inherit;
    font-weight: 800;

    transition: 
        font-size 0.1s var(--scale-bezier),
        font-stretch 0.15s var(--scale-bezier),
        var(--scale-transition);

    &:hover:not(:disabled) {
        transform: scale(1.015);
        font-stretch: 110%;
    }

    &:active:not(:disabled) {
        transform: scale(0.995);
        font-stretch: 105%;
    }

    &:disabled {
        cursor: default;
    } 
}