.container {
    --container-color: color-mix(in oklab,
        var(--secondary-color) 85%,
        var(--hi-vis-gray));

    position: relative;
    height: 2.25em;
    color: var(--hi-vis-gray);
    z-index: 1;

    select[size]:not([size="0"]) {
        padding: 0;
        padding-bottom: 0.5em;
        z-index: 2;

        min-width: max-content;
        max-width: none;

        background: var(--container-color);
    }

    &:has(select[size]:not([size="0"])) {
        z-index: 2;
    }

    select {
        position: absolute;
        overflow: hidden auto;
        text-overflow: ellipsis;
        color: inherit;

        font: inherit;
        font-weight: 600;

        cursor: pointer;
        box-sizing: border-box;

        width: 100%;
        padding: 0.5em 1em;
        background: none;
        appearance: none;
        border: none;

        overscroll-behavior: contain;

        &::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em;
        }

        &:hover:not(:focus) {
            color: var(--accent-3);
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;

            background: var(--secondary-color);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: var(--accent-3);
        }
    }

    option {
        min-width: 100%;
        max-width: 100%;
        font: inherit;
        padding: 0.5em 1em;
        transform-origin: left center;
        overflow: hidden;

        &:focus-within {
            outline: solid white 1px;
        }

        transition: 
            transform 0.2s var(--scale-bezier);

        &:hover {
            color: var(--accent-3);
            -webkit-text-fill-color: var(--accent-3);
            transform: scale(1.05);
        }

        &:checked {
            overflow: visible;
            position: relative;
            
            color: var(--accent-3);
            -webkit-text-fill-color: var(--accent-3);

            outline: #0000;
            border: #0000;
            background: linear-gradient(var(--container-color), var(--container-color));

            &:hover:after {
                transform: initial !important;
                content: '';
                position: absolute;
                height: 110%;
                width: 110%;
                top: 0;
                left: 0;
                z-index: -1;
                background: linear-gradient(var(--container-color), var(--container-color));
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    div {
        background-color: var(--container-color);
        border-radius: 5px;
    }
}