@use "../mixins.module.scss" as mixins;

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    grid-row: span 2;
    position: sticky;
    top: 0;
    padding: 2.5ch 0;

    z-index: 10;
    height: 100vh;

    font-size: 1.5em;
    font-weight: 550;

    nav {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    >nav,
    >div {
        >:nth-child(3n+1) { color: var(--accent-1); }
        >:nth-child(3n+2) { color: var(--accent-2); }
        >:nth-child(3n+3) { color: var(--accent-3); }
    }

    >div:last-of-type {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        i {
            font-family: 'NerdFontsSymbols Nerd Font';
            font-style: normal;
        }
    }

    :not(li)>a,
    .nav-dropdown button,
    .nav-dropdown li {
        @include mixins.clickable;

        text-transform: uppercase;
        font-stretch: 125%;

        transition:
            text-shadow 0.5s cubic-bezier(.51, -0.33, .74, .78),
            var(--scale-transition);

        &:hover {
            text-shadow: currentcolor 0 0 5px;
            transition:
                text-shadow 0.2s ease-out,
                var(--scale-transition);
        }

        &:not(:has(i)) {
            writing-mode: vertical-rl;
            rotate: .5turn;
        }
    }
}

.nav-dropdown {
    &:hover>ul {
        visibility: visible;
    }

    ul {
        @include mixins.distortion-background(var(--secondary-color));

        padding: 0;
        margin: 0;

        list-style: none;
        display: flex;
        flex-direction: column;
        visibility: hidden;

        @media (hover: hover) {        
            justify-content: space-evenly;
            height: 100vh;
            top: 0;
            left: 100%;
            position: absolute;
        }

        &:before {
            box-shadow: color-mix(in oklch, var(--background-color) 50%, black) 2px 2px 6px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            height: 100%;
            padding: 0 1.5ch;
            z-index: -1;
        }
    }

    li {
        margin: 0;
        padding: 0 1.5ch;
    }

    a,
    a:visited {
        margin: 0 0.5ch;
        color: var(--accent-1);
    }

    button:active {
        scale: var(--hover-scale);
    }
}
