.code-container {
    position: relative;
    --border-color: var(--secondary-color);
    --border-width: 5px;
    border-style: solid;
    border-color: #0000;

    display: flex;
    border-radius: 6px;

    > div:first-of-type {
        flex-grow: 1;
        width: 0;
        overscroll-behavior: contain;
        margin: 0.5rem;
    }
}