.sample-select {
    display: flex;
    flex-direction: column;

    button {
        text-transform: uppercase;
        border: none;
        background: none;
        padding: 0;
    
        color: inherit !important;
    
        font: inherit;
        cursor: pointer;
    }

    a {
        padding: 0.5rem;
        margin: 0.5rem;
        white-space: nowrap;
        color: var(--accent-1);

        display: flex;
        text-transform: uppercase;
        max-width: 100%;
        overflow: hidden;
    
        &, &:visited {
            color: light-dark(var(--accent-3), var(--accent-1)) !important;
        }
    }

    > div {
        transition: height 300ms ease-out;
        
        width: 100vh;
        justify-content: space-evenly;
        
        transform: rotate(90deg);
        writing-mode: initial;
        position: absolute;
        top: 0;
        transform-origin: top left;
        
        font-weight: bold;
        font-size: 1.4rem;
    
        a {
            padding: 0.5rem;
            margin: 0.5rem;
            white-space: nowrap;
            color: var(--accent-1);
        }
    
        div {
            background-color: var(--secondary-color);
        }
    }
}