@use "../../mixins.module.scss" as mixins;

.fullscreen-button {
    @include mixins.clickable;

    position: absolute;
    right: 20px;
    top: 20px;

    width: 5%;
    min-width: 30px;
    max-width: 65px;
    aspect-ratio: 1;

    color: color-mix(in oklab, var(--background-color) 85%, var(--hi-vis-gray));

    svg {
        height: 100%;
        width: 100%;
        fill: currentColor;

        filter:
            drop-shadow(2px 2px 0 color-mix(in oklab, currentcolor 65%, var(--hi-vis-gray))) 
            drop-shadow(-1px -1px 0 color-mix(in oklab, currentcolor 75%, var(--hi-vis-gray)));
    }

    &:hover {
        svg {
            filter:
                drop-shadow(2px 2px 0 var(--accent-3)) 
                drop-shadow(-1px -1px 0 var(--accent-2));
        }
    }
}